<!-- projects.ejs 
Eduardo Fernandes 
ID 301290717 
May 31, 2023 
-->
<!-- thi hmtl ffile where I show lastest projects that was worked on it -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title><%= title %></title>

  <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/@fortawesome/fortawesome-free/css/all.min.css" />

  <link rel='stylesheet' href='/Content/projects.css' />

  
</head>
<body>
    
  <!-- nav bar -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">


<a class="navbar-brand" href="https://drive.google.com/file/d/1uQtI-vbzIIHWt5jHLEoRB19n3CY1Lvit/view?usp=sharing"> 
  <img class="logo" src="https://drive.google.com/uc?id=1uQtI-vbzIIHWt5jHLEoRB19n3CY1Lvit" alt="Logo">
</a>


      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/projects">Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/services">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="contact">Contact</a>
          </li>
             
      </div>
    </div>
  </nav>
  <!--nav bar end-->
  
  <h1>Projects</h1>
 

    <div class="container">
            <div class="box">
                <h2> Project Bug Smasher </a></h2>
                <p>Bug Smasher was created in JavaSciprt and Html</p>
                <a href="https://www.youtube.com/watch?v=of7WFTLNtSU" target="_blank"> Demo Video</a>
            </div>

            <div class="box">
              <h2>Project Payment Form</h2>
              <p>Payment form was created in JavaSciprt, HMTL and CSS</p>
              <a href="https://www.youtube.com/watch?v=_0YK5RnCs14" target="_blank"> Demo Video</a>

            </div>
            
            <div class="box">
              <h2>Project Nature Website</h2>
              <p>Website was created in HTML and CSS</p>
              <a href="https://www.youtube.com/watch?v=2LpKm9m_C8s" target="_blank"> Demo Video</a>
            </div>
    </div>




<!--SCRIPTS TO WEB PAGE  goes here-->
<scrip src="/jquery/dist/jquery.min.js" ></scrip>
<scrip src="/bootstrap/dist/js/bootstrap.min.js"></scrip>
<script src="/Scripts/app.js" ></script>

</body>
</html>